<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="SQLServerConn2" connectionString="Provider=sqloledb;Data Source=localhost;Initial Catalog=yzb;User Id=sa;Password=whuyjsy_dbserver_2012"/>
		<add name="SQLServerConn" connectionString="server=.;database=SummerCamp;uid=sa;pwd=123;"/>
		<add name="AccessConn" connectionString="Provider=Microsoft.Jet.OleDb.4.0;Data Source=M:\6-19最新\SuperCamp\app_data\Database111.mdb"/>
		<add name="photoAddress" connectionString="M:\6-19最新\SuperCamp\Photos\"/>
	</connectionStrings>
	<system.web>
		<!--<compilation debug="true" targetFramework="4.0"/>-->
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<!--注册自定义控件-->
		</pages>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312"/>
		<customErrors mode="Off"/>
    

  </system.web>
</configuration>
